* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  padding-block: 10px;
  margin-bottom: 20px;
  border: 4px solid black;
}

#navbar {
  display: flex;
  list-style: none;
}

#navbar li {
  padding-inline: 10px;
  border-right: 2px solid black;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
}

#navbar li:hover {
  color: blue;
  border-color: blue;
  font-weight: 600;
}

#book-list {
  border: 2px solid black;
  margin-bottom: 20px;
}

.book {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.book:nth-child(odd) {
  background-color: grey;
}

.book:nth-child(even) {
  background-color: yellow;
}

.remove {
  margin-left: auto;
  padding: 3px;
  cursor: pointer;
  text-align: center;
  box-shadow: 3px 3px 4px;
  background-color: rgba(61, 61, 102, 0.5);
}

.remove:hover {
  background-color: red;
}

#list-title {
  text-align: center;
}

#book-form {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  max-width: 500px;
  min-width: 300px;
}

#book-form input {
  border: 3px solid black;
  padding: 5px;
}

#form-title {
  margin-inline: auto;
}

button[type="submit"] {
  align-self: flex-end;
  border: 2px solid black;
  box-shadow: 2px 2px 3px;
  padding: 5px 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: rgba(0, 128, 0, 0.5);
}

#Contact {
  font-size: 1.3rem;
}

footer {
  border: 4px solid black;
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
}

#form,
#Contact {
  /* min-height: calc(100vh - 100px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer header {
  height: 50px;
}

#form,
#Contact,
#book-list-section {
  display: none;
  min-height: calc(100vh - 100px);
}

#book-list-section {
  justify-content: start;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  nav {
    padding-inline: 50px;
  }
  #book-list {
    width: 80%;
    max-width: 800px;
    margin-inline: auto;
  }
}
